#section2 {
    margin: 30vh 0 15vh 0;

    .row {

        h2 {
            margin-left: 25vw;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -3%;
                transform: translate(-50%, 0);
                background-image: url("https://www.lavelomaritime.fr/themes/fvt/images/sprite.png?1627395053578");
                background-position: -168px -18px;
                width: 22px;
                height: 32px;
            }
        }

        p {
            margin-left: 22.2vw;
        }
    }

    .AccueilVelo {
        display: flex;
        width: fit-content;
        margin-left: 20vw;

        figure {
            position: relative;
            overflow: hidden;

            &:hover {
                img {
                    filter: blur(7px) brightness(0.4);
                }

            }

            img {
                display: block;
                filter: brightness(0.4);
            }

            figcaption {
                position: absolute;
                transform: translate(0, -50%);
                z-index: 4;
                width: 100%;
                top: 50%;
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

#section3 {
    height: 85vh;
    background: url("https://www.lavelomaritime.fr/sites/eurovelo4/themes/eurovelo4/images/temoignage.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .row {
        padding-top: 3vh;
        margin: 2vh 20vw;

        h2 {
            font-size: 3em;
            font-weight: 100;
            margin-bottom: 0;
        }

        p {
            font-size: 1.2em;
            margin-top: 1vh;
        }
    }

    .btn-blanc-transparent {
        margin-left: 10vw;
        margin-bottom: 25px;
    }
}

#section6 {
    height: 85vh;
    background: url("https://www.lavelomaritime.fr/sites/eurovelo4/themes/eurovelo4/images/sejour.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .row {
        padding-top: 3vh;
        margin: 2vh 20vw;

        h2 {
            font-size: 3em;
            font-weight: 100;
            margin-bottom: 0;
        }

        p {
            font-size: 1.2em;
            margin-top: 1vh;
        }
    }

    .slider {
        height: 35vh;
    }

    .btn-blanc-transparent {
        margin-left: 10vw;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 391px) {
    .mapform , .AccueilVelo, .article, .grid, .place, footer, .text-footer, .btn-footer, footer>div:nth-child(4) {
        display: flex;
        flex-direction: column;
    }

    body {
        width: 95%;
        margin: auto;
    }

    header {

        .slide {
            margin-left: -47px;
            width: 390px;
        }

        #arrow-left, #arrow-right {
            display: none;
        }

        .container h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1rem;
        }

        .container .centered {
            left: 10px;
        }

        .container .place {
            left: 40px;
        }
    }

    .text {
        h2 {
            font-size: 1.5rem;
        }
    }

    .swiper-container {
        width: 300px;
        height: 50px;

        figure {
            overflow: visible;
        }
    }

    form option {
        font-size: 1rem;
    }

    #section2 {
        width: 100%;
        margin-top: 75px;

        .row {
            margin-left: -45px;
        }

        .AccueilVelo {
            margin-left: 60px;
        }
        
    }

    #section3, #section6 {
        height: 350px;

        .row {
            margin: 10px;

            h2 {
                font-size: 2em;
            }

            p {
                font-size: 1em;
            }
        }

        .swiper-container {
            display: none;
            height: 200px;
        }

        .btn-container {
            width: fit-content;
            margin-top: 50px;

            .btn-blanc-transparent {
                font-size: 1em;
            }
        }
    }

    #section4 .article {
        width: 90%;
        margin: auto;

        .note.itmes {
            display: flex;
            flex-direction: column;
        }
    }

    .grid {

        figure {
            max-width: 380px;

            img {
                width: 300px;
            }
        }
    }

    footer {

        >div:nth-child(1) {
            height: 30vh
        }

        .btn1_footer, .btn2_footer, .btn3_footer, .btn4_footer {
            margin-left: 25px;
            padding: 10px 5px;
        }
    }

    
}