#section2 {
    margin: 30vh 0 15vh 0;

    .row {

        h2 {
            margin-left: 25vw;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -3%;
                transform: translate(-50%, 0);
                background-image: url("https://www.lavelomaritime.fr/themes/fvt/images/sprite.png?1627395053578");
                background-position: -168px -18px;
                width: 22px;
                height: 32px;
            }
        }

        p {
            margin-left: 22.2vw;
        }
    }

    .AccueilVelo {
        display: flex;
        width: fit-content;
        margin-left: 20vw;

        figure {
            position: relative;
            overflow: hidden;

            &:hover {
                img {
                    filter: blur(7px) brightness(0.4);
                }

            }

            img {
                display: block;
                filter: brightness(0.4);
            }

            figcaption {
                position: absolute;
                transform: translate(0, -50%);
                z-index: 4;
                width: 100%;
                top: 50%;
                color: #fff;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

#section3 {
    height: 70vh;
    background: url("https://www.lavelomaritime.fr/sites/eurovelo4/themes/eurovelo4/images/temoignage.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .row {
        padding-top: 3vh;
        margin: 2vh 20vw;

        h2 {
            font-size: 3em;
            font-weight: 100;
            margin-bottom: 0;
        }

        p {
            font-size: 1.2em;
            margin-top: 1vh;
        }
    }

    .btn-blanc-transparent {
        margin-left: 10vw;
    }
}

#section6 {
    height: 70vh;
    background: url("https://www.lavelomaritime.fr/sites/eurovelo4/themes/eurovelo4/images/sejour.jpg") no-repeat;
    background-size: cover;
    color: #fff;

    .row {
        padding-top: 3vh;
        margin: 2vh 20vw;

        h2 {
            font-size: 3em;
            font-weight: 100;
            margin-bottom: 0;
        }

        p {
            font-size: 1.2em;
            margin-top: 1vh;
        }
    }

    .slider {
        height: 35vh;
    }

    .btn-blanc-transparent {
        margin-left: 10vw;
    }
}


@media screen and (max-width: 391px) {
    body {
        width: 80%;
        margin: auto;
    }

    img {
        width: 100%;
    }

    .swiper-container {
        width: 300px;
        height: 50px;

        figure {
            overflow: visible;
        }
    }

    .mapform {
        display: flex;
        flex-direction: column;
    }

    form option {
        font-size: 1rem;
    }

    .AccueilVelo {
        display: flex;
        flex-direction: column;
    }

    .grid {
        display: flex;
        flex-direction: column;

        figure {
            max-width: 380px;

            img {
                width: 300px;
            }
        }
    }
}