.savoir {
    padding-left: 30%;
    padding-right: 30%;
}

.page_savoir {

        font-family: Poppins,sans-serif;
        font-weight: 700;
        font-size: 1.875rem;
        color: #231f20;
        text-align: center;
        margin: 0;   
}

.en_savoir {
    
        font-size: 1.5rem;
        color: #231f20;
        font-family: Poppins,sans-serif;
        font-weight: 600;
    }


.en_savoir1 {
  
        font-size: 1.125rem;
        color: #585858;
        line-height: 1.5em;
        text-align: justify;
        margin-top: 15px;
       
    }
    .savoir_plus1 {
        font-size: 1.125rem;
        color: #585858;
        line-height: 1.5em;
        text-align: justify;
        margin-top: 15px;

    }

    .en_savoir_plus2 {
        font-size: 1.125rem;
        color: #585858;
        line-height: 1.5em;
        text-align: justify;
        margin-top: 15px;
    }



.button_plus_savoir {
    background-color: #00b9ca;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    margin: 4px 2px 100px 2px;
    border-radius: 5px;
    
}

.button_savoir {
    background-color: #00b9ca;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    margin: 4px 2px 100px 2px;
    border-radius: 5px;
}

.liste_savoir {
        font-size: 1.125rem;
        color: #585858;
        line-height: 1.5em;
        text-align: justify;
        margin-top: 15px;
}
