.nous_contacter {
    padding-left: 25%;
    padding-right: 25%;
}

.contacter {
    display: flex;
    justify-content: center;
}

.button_nous_contacter {
    background-color: #00b9ca;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    margin: 4px 2px 100px 2px;
    border-radius: 5px;
}

.image_contacter {
    display: flex;
    justify-content: center;
}

#prénom, input, textarea {
        padding: 10px;
        border-radius: 15px;
        background-color: #f4f4f4;   
}

