.passeport {
    padding-left: 20%;
    padding-right: 20%;
}

.pass1,.pass2, .pass3, .pass4, .pass5, .pass6 {
  
    font-size: 1.125rem;
    color: #585858;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 15px;
   
}

.pass7,.pass8, .pass10, .pass11 {
  
    font-size: 1.125rem;
    color: #585858;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 15px;
   
}
.pass9 {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    color: #168780;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 15px;
}


.passeport4 {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #168780;
    line-height: 1.5em;
    text-align: center;
    margin: auto;
}

.button_pass3 {
    display: block;
    background-color: #168780;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 5px; 
    width: 200px;  
    text-align: center;
    margin: auto;
}

.button_pass4 {
    display: block;
    background-color: #168780;
    border: none;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 5px;
    width: 400px;  
    text-align: center;
    margin: auto;
}