#itinéraire {
    main {
        background-color: teal;
        display: grid;
        grid-template-columns: 1fr 3fr;

        #map {
            height: 100%;
            width: 100%;
            position: relative;

            .etaps {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .artiicle {
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 15px;
                }
            }
        }

        .contenu-etaps {
            position: absolute;
            background-color: antiquewhite;
            inset: 0;
            z-index: 100000;
            display: none;



            &.visible {
                display: block;
            }

            div {
                position: absolute;
                background-color: white;
                padding: 25px;
                border-radius: 25px;
                z-index: 100000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}