#section4{
    
    .article{
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    
    .avis1{
        background-color: antiquewhite;
        
    }
    .note{
        display: flex;
        justify-content: space-around;
       
    }
    .avisbas{
        display: flex;
        justify-content: space-around;
    }
    .avis2{
        background-color: teal;
    }
    .avis3{
        background-color: tomato;
    }
    }
}