// button
.btn1_footer{
    background-color: white;
    color: blue;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn2_footer{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn3_footer{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn4_footer{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}