// button
.btn1_footer{
    background-color: white;
    color: blue;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-blanc-transparent {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    border: #fff 2.5px solid;
    border-radius: 5px;
    padding: 10px 15px;
}

.btn2_footer{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn3_footer{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn4_footer{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}